* {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: auto;
}
.hide {
    display: none;
}
.inicio-sesion {
    display: flex;
    align-items: center;
    background-image: url("./media/fondo_inicio_sesion.png");
    background-size: cover;
    background-repeat: round;
    height: 100vh;
}
@media(max-width: 768px) {
    .inicio-sesion {
        background-image: url(./media/fondo_inicio_sesion_mobile.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        display: table-row;
    }
}
.logo {
    width: 244px;
    height: 155px;
}
.formulario-inicio-sesion {
    background-color: rgba(95, 217, 182, 0.3);
    /* transition: all 200ms ease-in; */
    margin: 0 auto;
    padding: 51px;
    width: 460px;
    height: 516px;
}
.formulario-inicio-sesion:hover {
    transform: scale(1);
}
@media(max-width: 768px) {
    .formulario-inicio-sesion {
        margin: 0px;
        display: block;
        height: 943px;
    }
}
.formulario-inicio-sesion input,
.formulario-inicio-sesion label,
.formulario-inicio-sesion a,
.formulario-inicio-sesion button,
.formulario-inicio-sesion img {
    display: block;
    margin-bottom: 10px;
}
.usuario {
    background: #FFFFFF;
    border-radius: 2px;
    border: none;
    width: 460px;
    height: 45px;
}
.microtextoguia {
    font-size: 25px;
    color: #FFFFFF;
}
.recordar-contraseña {
    text-align: right;
    font-size: 18px;
    color: #FFFFFF;
}
.btt-ingresa {
    border-radius: 5px;
    background: #05AFF2;
    width: 460px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 24px;
}
.registrar-usuario {
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
}