* {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: auto;
}
body{
    height: 100vh;
}
.hide {
    display: none !important;
}

.inicio-sesion {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url("./media/fondo_inicio_sesion.png");
    background-size: cover;
    background-repeat: round;
}

@media(max-width: 768px) {
    .inicio-sesion {
        background-image: url(./media/fondo_inicio_sesion_mobile.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        display: table-row;
    }
}

.logo {
    width: 244px;
    height: 155px;
}

.formulario-inicio-sesion {
    background-color: rgba(95, 217, 182, 0.3);
    margin: 0 auto;
    padding: 40px;
    width: 340px;
    height: 480px;
}

@media(max-width: 768px) {
    .formulario-inicio-sesion {
        margin: 0px;
        display: block;
        height: 943px;
    }
}

.formulario-inicio-sesion input,
.formulario-inicio-sesion label,
.formulario-inicio-sesion a,
.formulario-inicio-sesion button,
.formulario-inicio-sesion img {
    display: block;
    margin-bottom: 10px;
}

.usuario {
    background: #FFFFFF;
    border-radius: 2px;
    border: none;
    width: 335px;
    height: 45px;
}

.microtextoguia {
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 2px;
}

.recordar-contraseña {
    text-align: right;
    font-size: 14px;
    color: #FFFFFF;
}

.btt-ingresa {
    border-radius: 5px;
    background: #05AFF2;
    width: 335px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    color: white;
    border: none;
    font-size: px;
}

.lista-de-pokemones {
    background: linear-gradient(to right, #24CCAA, #A2DB95);
}

.registrar-usuario {
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
}

.tipos-pokemon {
    background: rgba(98, 217, 182, 0.3);
}

button.tipos-pokemon img {
    display: inline;
}

.mostrar {
    display: inline-block;
    background-color: rgba(182, 223, 246, 0.3);
    border-radius: 10px;
    width: 270px;
    margin: 5px;
    text-align: center;
    padding: 5px;
}

.contenedor {
    text-align: center;
}

button.agua,
button.fuego,
button.planta,
button.roca,
button.tierra,
button.acero,
button.aire,
button.dragon,
button.electrico,
button.fantasma,
button.hielo,
button.insecto,
button.lucha,
button.magico,
button.normal,
button.oscuro,
button.psiquico,
button.veneno {
    background: none;
    border: none;
    width: 61px;
    margin: 5px;
}
button.agua:hover,
button.fuego:hover,
button.planta:hover,
button.roca:hover,
button.tierra:hover,
button.acero:hover,
button.aire:hover,
button.dragon:hover,
button.electrico:hover,
button.fantasma:hover,
button.hielo:hover,
button.insecto:hover,
button.lucha:hover,
button.magico:hover,
button.normal:hover,
button.oscuro:hover,
button.psiquico:hover,
button.veneno:hover{
    background: yellow;
    border: none;
}
header{
    background: linear-gradient(to right, #24CCAA, #A2DB95);
}
footer{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #24CCAA, #A2DB95);
}
.filtrosDiseño{
    background-color: #5FD9B6;
    border-radius: 8px;
    border: none;
    color: white;
}
.filtros{
    display: inline;
}
.ventana{
    background: red;

}
#show-modal{
    text-align: center;
    background-color: white;
    padding: 15px 15px;
    color: red;
    font-weight: 500;
    font-size: 1.5em;
    border-radius: 3.5px;
    text-decoration: none;
    transition: all 0.15s linear;
}
#show-modal:hover{
    cursor: pointer;
    background-color: red;
}
.modal{
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 99999999;
    background-color: rgba(0 , 0 , 0 , 0.75);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.35s ease;
}
.modal .content-modal{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -100vh;
    transition: top 0.35s ease;
    margin-left: -250px;
    background-color: pink;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    z-index: 9999999;
}
.modal h1{
    padding: 0.5em;
    text-align: center;
    color: #444444;
    margin: 0;
}
.modal article{
    height: 300px;
    background-color:#A2DB95; 
}
.close-modal{
    color: #e74c3c;
    position: absolute;
    top: 0.2em;
    right: 0.375em;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}
.modal a:hover{
    color: #c0392b;
}
.modal:target{
    opacity: 1;
    top: 0;
}
.modal .btn-close-modal{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999991;
}
.modal:target .content-modal{
    top: 50px;
    transition: top 0.35s ease;
}
.mostrar-pokemones{
    text-align: center;
}